<section class="mostSellBoks">
    <div class="container-inside-mostSellBoks">
        {{#each books}}
        <div class="card">
            <h2>{{this.title}}</h2>
            <p>{{this.pageqty}} páginas</p>
            <p>#{{this.id}}</p>
        </div>
        {{/each}}
    </div>
</section>